.site {
    display: flex;
    color: white;
    height: 40vh;
    background-color: #0F0F0F;
}

.site-introduction {
    text-align: left;
    margin: auto 0;
    margin-left: 5rem;
    animation: fadeIn 1.5s ease forwards;
    opacity: 0;
}

.site-introduction h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.site-introduction p {
    font-size: 20px;
    max-width: 500px;
    color: #B7B7B7;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



@media (max-width: 768px) {
    .site {
        flex-direction: column; 
        height: auto; 
        padding: 2rem 1rem;
        align-items: center; 
    }

    .site-introduction {
        margin: 0; 
        text-align: center; 
        padding: 1rem; 
    }

    .site-introduction h1 {
        font-size: 2rem; 
        margin-bottom: 1rem;
    }

    .site-introduction p {
        font-size: 16px; 
        max-width: 100%; 
    }
}


@media (max-width: 480px) {
    .site {
        padding: 1rem;
    }

    .site-introduction h1 {
        font-size: 1.5rem; 
        margin-bottom: 0.5rem;
    }

    .site-introduction p {
        font-size: 14px; 
        line-height: 1.5; 
    }
}
