<link rel="stylesheet" href="css/intro.css">
<div class="container">
    <div class="search-section">
        <div class="header">
            <h2>Collect your favourites</h2>
            <div class="search-container">
                <input type="search" id="searchInput" placeholder="Search title and add to list">
                <span class="search-icon">🔍</span>
            </div>
        </div>
    </div>
    <div class="movie-grid" id="movieGrid">
       
    </div>
    
</div>
<script src="js/intro.js"></script>
